/* ====RESPONSIVENESS=== */
@media(max-width:1910px){
   .about-text p{
   /* background-color: #f0e5e5; */
    text-overflow: var(word-wrap);
   text-wrap: var(wrap); 
   max-width: 80vw;
    
   }
}
@media(max-width:1900px){
   .about-text p{
   /* background-color: #f0e5e5; */
    text-overflow: var(word-wrap);
   text-wrap: var(wrap); 
   max-width: 75vw;
    
   }
}
@media(max-width:1717px){
    .grid{
      max-width: 70%;
    }


.about-text{
  width: 00%;
}
    .about-text  p{
   /* background-color: #f0e5e5; */
   
   width: 800vw;
   
   }
}
@media(max-width:1774px){
    .row-contact{
      max-width: 170%;
    }
}
@media(min-width:1530px) and (max-width:1730px){
         .row-contact{
      max-width: 140%;
    }
}
@media(min-width:1470px) and (max-width:1529px){
         .row-contact{
      max-width: 135%;
    }
}
@media(max-width:1475px) {
         .row-contact{
      max-width: 130%;
    }

    .service-row .row{
            grid-template-columns: repeat(2, 1fr);
   
    }

}
@media(max-width:1435px) {
         .row-contact{
      max-width: 125%;
    }
    .contact-info-item .contact-info{
  
        /* padding-right: 15px; */
    }
}
@media(max-width:1799px){
   .home-img::before{
    content: none;
   }

   .home-img::after{
    content: none;
   }
}
@media (max-width:1580px){
  .portfolio-grid{
    grid-template-columns: repeat(2, 1fr);
      /* grid-template-columns: 1fr; */
      width: 90%;
      height: 200vh;
      /* background: none; */
  }

  .service-item{
    width: 100%;
  }
  .service-section .row{
     display: grid;
    grid-template-columns: repeat(2, 1fr);
      /* grid-template-columns: 1fr; */
      width: 98%;
      /* height: 300vh; */
  }
  .padd-20{
    margin-top: 90px;
  }
}


@media (min-width: 1131px) and (max-width: 1799px){
  .portfolio-grid{
    /* grid-template-columns: 3fr; */
  }

        .home-img img{
     width: 500px;
     height: 450px;
   }

      .about-text p{
   /* background-color: #f0e5e5; */
    text-overflow: var(word-wrap);
   text-wrap: var(wrap); 
   max-width: 66vw;
   }
}
@media(max-width:1115px){
  .contact-title-wrapper{
    padding: 0;
    margin: 0;
    padding-left: -200px;
    margin-left: -100px;
  }
}

@media(max-width:1130px){
.contact-section .container .row .contact-form{
  padding-right: 350px;
  
}
}
@media (min-width: 1201px) and (max-width: 1510px){
    .grid{
    display: grid;
    }

    .Skills .row{
      max-width: 50%;
     
    }

}

@media(max-width:1230px){
.contact-section .container .row .contact-form{
  margin-left: 300px;
}
}
@media(max-width:1660px){
    .row-heading .row{
      max-width: 60px;
    }
}
@media(max-width:1631px){
   .home-img img{
     width: 500px;
     height: 500px;
   }

   .home-img::after{
    content: none;
   }

       .grid{
        padding: 0;
        margin: 0;
        width: 70%;
    }
    .Skills{
        padding: 0;
        margin: 0;
        width: 10%;
    }
    .personal-info{
        /* width: 10%; */
    
    }
       .personal-info p{ 
        line-height: 20px;
         padding-block: 200px;
       
    }

      .Skills .skill-item{
        padding: 0;
        margin: 0;
    }

    .buttons {
            padding-top: 200px;
    }

     .buttons .btn {
           width: 200px;
    }

      .buttons .hire-me {
           width: 150px;
    }
}
@media(max-width:1610px){
   .home-img img{
     width: 500px;
     height: 500px;
   }

   .home-img::after{
    content: none;
   }
}
@media(max-width:1500px){
       .row-heading {
      left: 0;
      padding: 0;
      margin: 0;
    }
    
   .about-section .about-content .experience{
            /* flex: 30  40 30%; */
            min-width: 20%;
            /* margin-top: 30px; */
                  box-shadow: 3px 10px 50px 15px ;             
   }

}
@media(max-width:1410px){
   .about-text p{
   /* background-color: #f0e5e5; */
    text-overflow: var(word-wrap);
   text-wrap: var(wrap); 
   max-width: 72vw;
    
   }
}
@media(max-width:1348px){
     .about-section .about-content .experience{
            /* flex: 30  40 30%; */
            min-width: 18%;
            /* margin-top: 30px; */
                  box-shadow: 3px 10px 50px 15px ;             
   }
}
@media(width:1370px){
  .row-contact{
    min-width: 94vw;
  }
}
@media(min-width:1348px) and (max-width:1370px){
    .row-heading {
      left: 0;
      padding: 0;
      margin: 0;
    }

    .row-contact{
    max-width: fit-content;
    }

 
}
@media(max-width:1375px){
    .row-heading .row{
      max-width: 40px;
    }
}
@media(max-width:1360px){
   .portfolio-card{
      max-width: 30vw;
   }
}
@media (max-width:1260px){
}
@media(max-width:1270px){
   .about-text p{
   /* background-color: #f0e5e5; */
    text-overflow: var(word-wrap);
   text-wrap: var(wrap); 
   max-width: 71vw; 
   }

      .home-img img{
     width: 420px;
     height: 410px;
   }
}
@media(max-width:1250px){
      .home-img img{
     width: 450px;
     height: 450px;
   }
}
@media(max-width:1225px){
         .about-text p{
  
    max-width: 69vw; 
   }



}
@media(max-width:1250px){

  .portfolio-grid{
    grid-template-columns: repeat(2, 1fr);
      /* grid-template-columns: 1fr; */
      width: 70%;
      height: 200vh;
  }

}
@media(max-width:1200px){
    aside{
        left: -270px;
    }
    .main-content{
        padding-left: 0;
    }
    .about-section .about-content .personal-info .info-item p span{
        display: block;
        margin: 0;
        padding: 0;
    }
    .grid{
        padding: 0;
        margin: 0;
        /* width: 70%; */
    }
    .Skills{
        padding: 0;
        margin: 0;
        width: 10%;
    }
    .personal-info{
        width: 10%;
    }
       .personal-info p{ 
        line-height: 20px;
    }
      .Skills .skill-item{
        padding: 0;
        margin: 0;
    }
    .buttons {
            padding-top: 30px;
    }
     .buttons .btn {
           width: 200px;
    }
      .buttons .hire-me {
           width: 150px;
    }
     .contact-section .container .contact-title-wrapper .contact-title {
          width: 26%;
          margin-left: 700px;
      }
          .contact-section .container .contact-title-wrapper .contact-sub-title {
          /* max-width: 100%; */
          margin-left: -200px;
          /* background-color: yellowgreen; */
      }
       .contact-section .container .contact-title-wrapper{
             width: 100%;
          /* margin-left: 700px; */
       }
}
@media(max-width:1195px){
.experience{
  max-width: 45%;
}
}
@media(min-width:1170px){
  #Mobileview{
    display: none;
  }
}
@media (min-width: 1371px) and (max-width: 1405px){
  .row-contact{
    max-width: 94vw;
  }

}
@media(max-width:1169px){

    #Desktopview{
    display: none;
  }
}
@media(max-width:1130px){
    .home-row{
      display: grid;
    }
 .home-row .home-img img{
  padding-left:180px;
      margin-top: -180px;
      width: 700px;
    }

    .home-info{
      max-width: 80%;
    }
}
@media(max-width:1345px){
  .row-heading{
  display: grid;
  }

  .experience{
    margin: 150px 0 0 80px;

  }

   .education{
    margin: 150px 0 0 80px;
  
    height: 60vh;
    width: 40vw;

  }
  .education .timeline-box{
    justify-self: center;
  
  }

  #Desktopview{
    max-width: 92vw;
  }

}
@media(min-width:1100px) and (max-width:1200px){
    .buttons{
    margin-left: -100px;
    max-height: 25vw;
    }

}
@media (min-width: 1100px) and (max-width: 1180px){
  .portfolio-grid{
    /* grid-template-columns: 3fr; */
  }

        .home-img img{
     width: 400px;
     height: 450px;
   }
      .about-text p{
   /* background-color: #f0e5e5; */
    text-overflow: var(word-wrap);
   text-wrap: var(wrap); 
   max-width: 66vw;
   }
}
@media (min-width: 1070px) and (max-width:1094px){
  .about-text p{
    max-width: 65vw;
  }
}

@media(max-width:1085px){
.contact-section .container .row .contact-form{
  margin-left: 180px;
  /* background-color: blueviolet; */
  
}
}
@media(min-width:1000px){
    /* .Mobile-Nav{
      display: none;
    }
    #btn{
      display: none;
    }
    #Menu{
      display: none;
    }

    .card-slider{
      display: none;
    } */

    .Mobile-Nav,#btn, #Menu,  .card-slider{
      display: none;
    }

}
@media(max-width:1000px){
  #hideOnmobile{
    display: none;
  }

  .navbar{
    display: none;
  }

  .main-content{
   
    /* background-color: yellowgreen; */
  }

  .home-section{
    margin-left: 0;
    }

  .home-section .home-row{
  
    margin-left: 100px;
  }

   .home-row .home-img img{

      margin-left: -90px;
    
    }

  .about-section {

    margin-left: 70px;
  }

  .about-text p{
    min-width: 85vw;
  }

  .service-section{
    margin-left: -100px;
  }

  
  .service-section {
    /* padding-left: 2px; */
   width: 110%;
  }

    .service-section .row {
   column-gap: 120px;
  }

    .service-section .service-item{
    /* padding-left: 2px; */
   width: 140%;
  }

  .portfolio-section{
    margin-left: -100px;
  }
  .portfolio-card{
    max-width: 95%;
  }

  .Joasync_visions{
        margin-left: -300px;
        max-width: 400%;
  }

  .Joasync_details p{
    width: 55em;
    
  }

  .contact-section{
      margin-left: -200px;
  }

  .education{
    min-height: 500px;
    width: 47vw;
  }  

  .portfolio-section{
    display: none;
  }

}
@media (max-width: 999px){
  .Mobile-Nav{
    background-color: rgb(68, 66, 66) ;
    height: 15vh;
    /* position: fixed; */
    /* left: 0; */
  }

  .day-night{
    position: fixed;
  }
  /* Margin issue */
  .card-slider{
    /* margin-top: 500px; */
  }

  #service-section .service-row .row .card-item .service-item-inner{
   height: 900vh;
   margin: 0;
  
  }

  .main-container{
    /* background-color: rgb(52, 211, 12); */
    /* height: 850vh; */
  }
}
@media (max-width: 980px){
     .about-text p{
    max-width: 60vw;
  } 
}
@media (max-width: 1099px) {
    .grid{
      max-width: 60%;
    }
}
@media  (max-width: 1069px) {
    .about-text p{
        max-width: 67vw;
    }
}
@media  (max-width: 1025px) {
    .about-text p{
        max-width: 64vw;
    }
}
/* Tablet */
@media (width: 992px){
  .portfolio-grid{
    grid-template-columns: repeat(2, 1fr);
      /* grid-template-columns: 1fr; */
      width: 50%;
      height: 300vh;
  }
  .home-info{
    
  }
}
@media (max-width:975px){
    .Joasync_details p{
      max-width: 97vw;
    }
}
@media(max-width:930px){
.row-heading{
  display: none;
}
}
@media(max-width:910px){
    .contact-title-wrapper{
      margin-left: -500px; 
    }
      .contact-title-wrapper .contact-title{
      margin-left: -900px; 
    }

     .contact-title-wrapper h3{
   color: var(--skin-color);
   font-size: 20px;
    }

    
       .contact-section .container .contact-title-wrapper{
             width: 100%;
          margin-left: -90px;
       }

}

@media(width:900px){
  .grid{
    padding-bottom: 100px;
  }
}
@media(max-width:900px){
  /* .service-section{
    display: none;
  } */
}
@media(max-width:899px){
  #service-section{
   
  margin-block: 500px;

  width: 200%;
  }
}
@media(min-width:900px){
  #service-section{
    display: none;
  }

    .service-item-inner:hover{
        box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
        transform: scale(1.1,1.1);
    }
}
@media (width: 874px){
  .education{
    height: 65vh;
    width: 55vw;
  }

  .experience{
      height: 72vh;
    }

   .timeline-box .timeline{
      padding-top: 0;
      margin-top: -50px;
  }
  }
@media (max-width: 985px){
    .Joasync_details p{
    width: 53.5em;
  }
}
@media (max-width:842px){
    .home-row .home-img{
      padding-top: 20px;
    }
}
@media (max-width:830px){
   .contact-section .container .row .section-title  #Contact{
   margin-left: -50px;
   }


  .contact-title-wrapper{
     /* max-width: 100%; */
  
     /* margin-left: -500px; */
        }
         .service-section{
          /* background-color: rgb(41, 19, 231); */
       
        }
        .service-section .service-row{
          /* background-color: brown; */
         margin-left: -50px;
        }

}

@media (max-width:830px){
  .home-img img{
    padding-top: 50px;

  }

}

@media (max-width:796px){

   .aside .logo a::before{
       content: none;
 }
 .aside .logo a::after{
       content: none;
 }

 .logo{
  /* background-color: beige; */
  min-width: 30vw;
 }
}


/* Content responsiveness */

@media(max-width:780px){
 .main-container .Mobile-Nav .logo{
  /* background-color: rgb(216, 202, 11); */
 }

.main-container .Mobile-Nav .logo a::before{
      
          bottom: 5px;
          left: -20px;
          
    }
        .main-container .Mobile-Nav .logo a::after{
   
          top: 15px;
          right: -7px;
    }

}

@media(max-width:760px){

  .contact-title-wrapper{
     width: 100%;
        }

   .contact-title-wrapper .contact-sub-title{
     
        }
        .contact-section .container .row .section-title #Contact {
        margin-left: -100px;
        }
        .contact-section .container  .contact-title-wrapper  .contact-title{
        margin-left: 500px;
        }

          .contact-section .container  .contact-title-wrapper  .contact-sub-title{
        margin-left: -550px;
        }
  
.contact-section .container .row .contact-form{
  margin-left: 100px;
  /* background-color: blueviolet; */
  
}
}

/* Content responsiveness */


@media (max-width:750px){

   .home-row .home-info p{
     width: 70vw;
    }
    .home-section .home-row{
      margin-left: -50px;
      margin-top: -70px;
  
    }

    .service-section{
          /* background-color: rgb(41, 19, 231); */
       
        }
        .service-section .service-row{
          /* background-color: brown; */
         margin-left: -110px;
        }



  .grid{

  margin-left: -80px;
  }
  .contact-title-wrapper{
     width: 100%;
        }

   .contact-title-wrapper .contact-sub-title{

  
     
        }
        .contact-section .container .row .section-title #Contact {
        margin-left: -100px;
        }
        .contact-section .container  .contact-title-wrapper  .contact-title{
        margin-left: 500px;
        }
/* 
          .contact-section .container  .contact-title-wrapper  .contact-sub-title{
        margin-left: -550px;
        background-color: rgb(41, 19, 231);
        } */
}

@media (min-width:755px) and (max-width:810px){
      .about-text p{
    max-width: 65vw;
  }
}

@media (max-width:745px){

  .home-row .home-img img{
  
    margin-left: -100px;
  }
 .grid .personal-info .row .info-item p span{
    padding-left: 100px;
    /* text-align: right; */
  }

   .grid  .Skills .row .skill-item .progress{
  width: 60vw;
    /* text-align: right; */
   
  }

   .grid  .Skills .row .skill-item {
    padding-left: 100px;
    
   
   }

 .grid .personal-info .row .info-item{
      width: 500px;
 }

  .grid .personal-info .row .buttons {
      margin-left: -100px;
    
     

 }

  .grid .personal-info .row .info-item p span{
    padding-left: 200px;
 }


  .grid{
  display: flex;
  flex-direction: column;
  }

  .grid .personal-info .row{
  margin-left: 100px;
  }

 .grid .personal-info .row .info-1{
  width: 500%;
  }

   .about-section{
          margin: 0;
  }

}


/* Mobile */


@media (width: 715px){
    .home-section .home-row{
      min-width: 140%;
    }

     .home-section{
      /* background-color: chartreuse; */
     }

    .about-section{
      /* background-color: chocolate; */
        margin-top: -100px;
    }
}

@media (width: 720px){
        .home-section .home-row  p{
      min-width: 100%;
    }
}


@media (max-width: 700px){
  /* .portfolio-grid{
    grid-template-columns: 2fr;
  } */

  .personal-info{
     max-width: 40vw;
  }

  .home-img img{
    padding-top: 50px;
  }
}



@media(max-width:698px){
 .main-container .Mobile-Nav .logo{
  /* background-color: rgb(216, 202, 11); */
 }

 .main-container .Mobile-Nav .logo a span{
  /* background-color: yellowgreen; */
  margin-left: -10px;      
    }

.main-container .Mobile-Nav .logo a::before{
      
          bottom: 5px;
          /* left: -25px; */
          
    }
        .main-container .Mobile-Nav .logo a::after{
   
          top: 5px;
          right: 5px;
    }

}

@media(max-width:685px){
.contact-section{
  /* background-color: brown; */
  margin-left: -200px;
}
.contact-title-wrapper .contact-sub-title{
        }
        .contact-section .container .row .section-title #Contact {
        margin-left: -70px;
        }
        .contact-section .container  .contact-title-wrapper  .contact-title{
        margin-left: 500px;
        }
          .contact-section .container  .contact-title-wrapper  .contact-sub-title{
        margin-left: -550px;
        }
.contact-section .container .row .contact-form{
  margin-left: 100px;
  /* background-color: blueviolet; */ 
}
}
@media(max-width:665px){
 .main-container .Mobile-Nav .logo{
  /* background-color: rgb(216, 202, 11); */
 }

 .main-container .Mobile-Nav .logo a span{
  /* background-color: yellowgreen; */
  margin-left: -15px;      
    }

.main-container .Mobile-Nav .logo a::before{
      
          bottom: 5px;
          left: -15px;
          
    }
        .main-container .Mobile-Nav .logo a::after{
   
          top: 16px;
          right: 20px;
    }

}

@media(max-width:675px){
  .service-section .service-row .row{
  display: flex;
  flex-direction: column;
   margin-left: 60px;

     /* display: grid;
    grid-template-columns: repeat(1, 1fr); */



  }
}
 @media(max-width:690px){
       .grid{
     /* max-width: 39vw; */
     display: grid;
     /* grid-template-columns: 1fr; */
      /* grid-template-columns: repeat(2, 1fr); */
  }

  .info-1{
      width: 850vw;
  }

  .info-2{
      width: 850vw;
  }

  .info-item p{
    display: flex;
    gap: 70px;
  }

  .Skills, .row, .skill-item{
   
  }

  .skill-item{
    width: 40vw;
  }
    }
/* =========CONTENT:NONE ISSUE============ */
@media(max-width:674px){
    .main-container .Mobile-Nav .logo a::before{
    /* content: none; */
   }

  .main-container .Mobile-Nav .logo a::after{
    /* content: none; */
   }
}

@media(max-width:648px){
 .main-container .Mobile-Nav .logo{
  /* background-color: rgb(216, 202, 11); */
 }

 .main-container .Mobile-Nav .logo a span{
  /* background-color: yellowgreen; */
  margin-left: -25px;      
    }

.main-container .Mobile-Nav .logo a::before{
      
          bottom: 4px;
          left: -15px;
          
    }
        .main-container .Mobile-Nav .logo a::after{
   
          top: 10px;
          right:25px;
    }

}

@media(max-width:643px){
 .main-container .Mobile-Nav .logo{
  /* background-color: rgb(216, 202, 11); */
 }

.main-container .Mobile-Nav .logo a::before{
      
          bottom: 35px;
          left: -15px;
          
    }
        .main-container .Mobile-Nav .logo a::after{
   
          top: 15px;
          right:-100px;
    }

}

@media(max-width:630px){
    .grid .personal-info .row .info-1 .info-item span,
     .grid .personal-info .row .info-2 .info-item span
    {
      width: 100%;
        padding-left: 100px;
    }

     .grid .personal-info .row  .info-item p{
    
     }

     .contact-section .container .row .contact-form{
      /* background-color:#525333; */
      margin-left: -50px;

     }
}


@media (width: 620px){
    .contact-section .container .row{
     margin-left: -15px;
     /* padding-left: 0; */
    }

       .contact-section .container .contact-title-wrapper{
   margin-left: -160px;
   
    }
}

@media(max-width:615px){
     .main-container .Mobile-Nav .logo a span{
  /* background-color: yellowgreen; */
  /* margin:-36px;       */
    }


.main-container .Mobile-Nav .logo a::before{
      
          bottom: 45px;
          left: -15px;
          
    }
        .main-container .Mobile-Nav .logo a::after{
   
          top: 15px;
          right: -125px;
    }
}


@media(max-width:550px){
    .contact-section{
      /* background-color: brown; */
      width: 100%;
    }
    
     .contact-section .row .section-title #Contact{
        
    }
}

@media(max-width:581px){
     .main-container .Mobile-Nav .logo{
  /* background-color: yellowgreen; */
max-width: 300px;

    }

.main-container .Mobile-Nav .logo a::before{
      
          bottom: 45px;
          left: -15px;
            /* content: none; */
    }
        .main-container .Mobile-Nav .logo a::after{
   
          top: 15px;
          right: -125px;
            /* content: none; */
    }

           .main-container .Mobile-Nav .btn{
              margin-right: 20px;
    }

      .contact-section .container .row .contact-form{
        /* background-color:          blueviolet; */
        margin-left: -100px;
     
      }


  }

@media(max-width:530px){
     .grid .personal-info .row .info-1 .info-item span,
     .grid .personal-info .row .info-2 .info-item span
    {
      width: 100%;
        padding-left: 70px;
    }
}


@media(max-width:400px){


  .main-container .Mobile-Nav .logo{
  /* background-color: rgb(216, 202, 11); */
 }

 .main-container .Mobile-Nav .logo a span{
  /* background-color: yellowgreen; */
  margin-left: -10px;      
    }

.main-container .Mobile-Nav .logo a::before{
      
          bottom: 5px;
          /* left: -25px; */
          
    }
        .main-container .Mobile-Nav .logo a::after{
   
          top: 5px;
          right: 5px;
    }


  .Mobile-Nav .logo {
  
    min-width: 50%;
  }
    .home-row  .home-img img{
      width: 110%;
      margin-top: -30px;
        padding-right: 100px;
    }

    .home-section{

    }

    .about-section{
      margin-top: -100px;
    }

    .home-section .home-row .home-info #Home{
        margin-left: 50px;
      width: 100vw;
    }

    .grid .personal-info .row .info-1 p,
      .grid .personal-info .row .info-2 p {
      margin-left: -40px;
      /* width: 600%; */
    }

    
    .grid .personal-info .row .info-1 p span,
      .grid .personal-info .row .info-2 p span{

      margin-left: -60px;
    }

    .row .buttons a{
      /* background-color: rgb(188, 233, 24); */
      margin-left: 50px;
      max-width: 35vw;
    }

       .row .buttons #CV{
      background-color: rgb(226, 43, 58);
      margin-left: 65px;
      max-width: 48vw;
    }
    .service-section .section-title #Services{

      margin-left: 100px;
    }

        .service-section{
      /* width: 100%; */
      /* background-color: brown; */
      margin: 0;
      padding: 0;

    }

    .service-section .row .service-item{
      max-width: 70%;

      margin-left: 70px;
    }


    .contact-section{
      /* background-color: brown; */
      width: 100%;
    }

        .contact-section .container .row .section-title #Contact{
      margin-left: -120px;
    }

        .contact-section .container .Media{
          
        }

      .contact-section .container .contact-title-wrapper .contact-title{ 
           margin-left: -185px;
           min-width: 100%;
    }

        .contact-section .container .contact-title-wrapper .contact-sub-title{ 
           margin-left: -600px;
         
    }

      .contact-section .container .row .contact-form{
      /* background-color: brown; */
      max-width: 250vw;
    }

         .contact-section .container .row .contact-form .row .form-group .btn{
            margin-left: 50px;
    }

             .contact-section .container .row .contact-form .row .form-group .btn:hover{
          transition: all 0.3s ease;
    }

  }

/* 
    .service- {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

@media (max-width: 1024px) {
    .services-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .services-container {
        grid-template-columns: 1fr;
    }
} */